/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}


/* UTILITIES */

.bg-whitesmoke{
    background-color: whitesmoke;
}

.bg-white{
    background-color: white;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-cyan{
    background-color: rgb(27, 114, 232);
}

.bg-deepblue{
    background-color: rgb(22, 91, 186);
}

.bg-green{
    background-color: green;
    width: 50px;
}

.bg-red{
    background-color: red;
    width: 50px;
}

.bg-gold{
    background-color: rgb(255, 193, 7);
    width: 65px;
}

.w-30{
    width: 30px;
}

.c-orange{
    color: rgb(255, 143, 0);
}

.c-white{
    color: white;
}

.t-center{
    text-align: center;
}

/* STRUCTURE */

body{
    font-family: "Raleway", sans-serif;
}

.main-content_body{
    overflow-y: auto;
}

.nav_header{
    height: 120px;
}

.mobile_logo{
    display: inline-flex;
    width: 50px;
}

.search_bar{
    position: relative;
}

.bar{
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
}

.search_bar i{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.page_main{
    height: calc(100% - 120px);
}

.links_list > li:not(:last-child){
    display: none;
}

.sidebar{
    background-image: url(./img/sidebar-bg.png);
    background-size: cover;
    background-color: rgb(5, 30, 52);
    width: 70px;
}   

.sidebar ul > li{
    line-height: 50px;
}

.main-content,
.main-content_body{
    height: 100%;
}

.other_plans button{
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 30px;
}

.add_student button{
    width: 40px;
    height: 40px;
}

.roi_status{
    padding: 2px;
    text-align: center;
    color: white;
}

.table_title .title_name{
    width: 50%;
}

.table_icon{
    border: 1px solid black;
    border-radius: 2px;
    width: 30px;
    display: inline-block;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 27px;
}

.list-style{
    text-decoration: underline;
    color:rgb(27, 114, 232)
}

.b-hover:hover{
    background-color: rgba(173, 216, 230, 0.666);
}


/* MEDIA QUERY */

@media(min-width: 992px){
    .add_student{
        order: 3;
    }
    
    .table_title .title_name{
        width: 30px;
    }

}


@media (min-width: 1200px){
    .nav_header .container-fluid .links_list > li{
        display: flex;
    }

    .sidebar{
        width: 150px;
    }

    .main-content_header .container-fluid .row{
        justify-content: space-between;
    }
 
    .table_title .title_name{
        width: 60%;
    }
}